In [1]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
classification_data = pd.read_csv("../Data/classification_data.csv")
airline_features = pd.read_csv("../Data/new_airfare_features.csv")

In [3]:
classification_data.drop(columns = "Unnamed: 0", inplace = True)

In [4]:
classification_data.head()

,AVG_BEFORE_DAYS,HOLIDAY,HOLIDAY AFTER,HOLIDAY BEFORE,WEEKEND,CHANGE,PICKUP_DATE_YEAR,PICKUP_DATE_MONTH,PICKUP_DATE_DATE,OUTSIPP_economy,OUTSIPP_luxury,OUTSIPP_midrange,OUTSIPP_premium
0,-1.220856,0,0,0,0,Decrease,2018,1,31,0,0,0,0
1,-1.472890,0,0,0,0,Decrease,2018,1,31,0,0,0,0
2,-1.481469,0,0,0,0,Decrease,2018,1,31,0,0,0,0
3,0.012021,0,0,0,0,Decrease,2018,1,31,0,0,1,0
4,-1.357856,0,0,0,0,No change,2018,1,31,0,0,0,0

In [5]:
airline_features.head()

,DDATE,price_per_mile,total_fluc_50,total_fluc_70,total_fluc_120,avg_price,pct_change,trend
0,2018-02-01,0.104127,0.000000,0.000000,0.000000,0.104127,0.000000,Decrease
1,2018-02-02,0.077575,0.000000,0.000000,0.000000,0.090851,0.146131,Decrease
2,2018-02-03,0.174479,0.000000,0.000000,0.000000,0.118727,-0.469582,Decrease
3,2018-02-04,0.229135,-0.014099,-0.014099,-0.014099,0.146329,-0.565890,Decrease
4,2018-02-05,0.187648,0.345462,0.345462,0.345462,0.154593,-0.213824,Decrease

In [6]:
airline_features["DDATE"] = pd.to_datetime(airline_features["DDATE"], format='%Y-%m-%d')

In [7]:
airline_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 8 columns):
DDATE             920 non-null datetime64[ns]
price_per_mile    920 non-null float64
total_fluc_50     920 non-null float64
total_fluc_70     920 non-null float64
total_fluc_120    920 non-null float64
avg_price         920 non-null float64
pct_change        920 non-null float64
trend             920 non-null object
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 57.6+ KB

In [8]:
airline_features["DDATE_YEAR"] = pd.DatetimeIndex(airline_features["DDATE"]).year
airline_features["DDATE_MONTH"] = pd.DatetimeIndex(airline_features["DDATE"]).month
airline_features["DDATE_DATE"] = pd.DatetimeIndex(airline_features["DDATE"]).day
airline_features.drop(columns = "DDATE", inplace = True)

In [9]:
airline_features.head()

,price_per_mile,total_fluc_50,total_fluc_70,total_fluc_120,avg_price,pct_change,trend,DDATE_YEAR,DDATE_MONTH,DDATE_DATE
0,0.104127,0.000000,0.000000,0.000000,0.104127,0.000000,Decrease,2018,2,1
1,0.077575,0.000000,0.000000,0.000000,0.090851,0.146131,Decrease,2018,2,2
2,0.174479,0.000000,0.000000,0.000000,0.118727,-0.469582,Decrease,2018,2,3
3,0.229135,-0.014099,-0.014099,-0.014099,0.146329,-0.565890,Decrease,2018,2,4
4,0.187648,0.345462,0.345462,0.345462,0.154593,-0.213824,Decrease,2018,2,5

# Merging the datasets

In [10]:
print(classification_data.columns)
print()
print(airline_features.columns)

Index(['AVG_BEFORE_DAYS', 'HOLIDAY', 'HOLIDAY AFTER', 'HOLIDAY BEFORE',
       'WEEKEND', 'CHANGE', 'PICKUP_DATE_YEAR', 'PICKUP_DATE_MONTH',
       'PICKUP_DATE_DATE', 'OUTSIPP_economy', 'OUTSIPP_luxury',
       'OUTSIPP_midrange', 'OUTSIPP_premium'],
      dtype='object')

Index(['price_per_mile', 'total_fluc_50', 'total_fluc_70', 'total_fluc_120',
       'avg_price', 'pct_change', 'trend', 'DDATE_YEAR', 'DDATE_MONTH',
       'DDATE_DATE'],
      dtype='object')

In [11]:
all_classification_data = pd.merge(classification_data, airline_features, how='left',
                                   left_on=['PICKUP_DATE_YEAR','PICKUP_DATE_MONTH', 'PICKUP_DATE_DATE'], 
                                   right_on = ['DDATE_YEAR','DDATE_MONTH', 'DDATE_DATE'])

In [12]:
pd.set_option('display.max_columns', None)
all_classification_data.tail(5)

,AVG_BEFORE_DAYS,HOLIDAY,HOLIDAY AFTER,HOLIDAY BEFORE,WEEKEND,CHANGE,PICKUP_DATE_YEAR,PICKUP_DATE_MONTH,PICKUP_DATE_DATE,OUTSIPP_economy,OUTSIPP_luxury,OUTSIPP_midrange,OUTSIPP_premium,price_per_mile,total_fluc_50,total_fluc_70,total_fluc_120,avg_price,pct_change,trend,DDATE_YEAR,DDATE_MONTH,DDATE_DATE
26501,1.428936,0,0,0,0,Increase,2020,1,29,0,1,0,0,0.44997,0.0,0.0,0.046915,0.438107,-0.027079,Decrease,2020.0,1.0,29.0
26502,-0.507711,0,0,0,0,Decrease,2020,1,29,1,0,0,0,0.44997,0.0,0.0,0.046915,0.438107,-0.027079,Decrease,2020.0,1.0,29.0
26503,-1.160674,0,0,0,0,Decrease,2020,1,29,1,0,0,0,0.44997,0.0,0.0,0.046915,0.438107,-0.027079,Decrease,2020.0,1.0,29.0
26504,-0.756967,0,0,0,0,No change,2020,1,29,1,0,0,0,0.44997,0.0,0.0,0.046915,0.438107,-0.027079,Decrease,2020.0,1.0,29.0
26505,-0.001643,0,0,0,0,Decrease,2020,1,29,0,0,1,0,0.44997,0.0,0.0,0.046915,0.438107,-0.027079,Decrease,2020.0,1.0,29.0

In [13]:
all_classification_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26506 entries, 0 to 26505
Data columns (total 23 columns):
AVG_BEFORE_DAYS      26506 non-null float64
HOLIDAY              26506 non-null int64
HOLIDAY AFTER        26506 non-null int64
HOLIDAY BEFORE       26506 non-null int64
WEEKEND              26506 non-null int64
CHANGE               26506 non-null object
PICKUP_DATE_YEAR     26506 non-null int64
PICKUP_DATE_MONTH    26506 non-null int64
PICKUP_DATE_DATE     26506 non-null int64
OUTSIPP_economy      26506 non-null int64
OUTSIPP_luxury       26506 non-null int64
OUTSIPP_midrange     26506 non-null int64
OUTSIPP_premium      26506 non-null int64
price_per_mile       26469 non-null float64
total_fluc_50        26469 non-null float64
total_fluc_70        26469 non-null float64
total_fluc_120       26469 non-null float64
avg_price            26469 non-null float64
pct_change           26469 non-null float64
trend                26469 non-null object
DDATE_YEAR           26469 non-null float64
DDATE_MONTH          26469 non-null float64
DDATE_DATE           26469 non-null float64
dtypes: float64(10), int64(11), object(2)
memory usage: 4.9+ MB

In [14]:
# Checking null columns
pd.set_option('display.max_rows', None)
all_classification_data.isnull().sum()

AVG_BEFORE_DAYS       0
HOLIDAY               0
HOLIDAY AFTER         0
HOLIDAY BEFORE        0
WEEKEND               0
CHANGE                0
PICKUP_DATE_YEAR      0
PICKUP_DATE_MONTH     0
PICKUP_DATE_DATE      0
OUTSIPP_economy       0
OUTSIPP_luxury        0
OUTSIPP_midrange      0
OUTSIPP_premium       0
price_per_mile       37
total_fluc_50        37
total_fluc_70        37
total_fluc_120       37
avg_price            37
pct_change           37
trend                37
DDATE_YEAR           37
DDATE_MONTH          37
DDATE_DATE           37
dtype: int64

In [15]:
# Dropping null columns
all_classification_data.dropna(inplace=True)

# Machine Learning

In [16]:
# Dropping not required columns
drop_columns = ["DDATE_YEAR", "DDATE_MONTH", "DDATE_DATE", "trend", "price_per_mile", "avg_price"]
ml_data = all_classification_data.copy()
ml_data.drop(columns = drop_columns, inplace = True)

In [17]:
ml_data.describe()

,AVG_BEFORE_DAYS,HOLIDAY,HOLIDAY AFTER,HOLIDAY BEFORE,WEEKEND,PICKUP_DATE_YEAR,PICKUP_DATE_MONTH,PICKUP_DATE_DATE,OUTSIPP_economy,OUTSIPP_luxury,OUTSIPP_midrange,OUTSIPP_premium,total_fluc_50,total_fluc_70,total_fluc_120,pct_change
count,26469.000000,26469.000000,26469.000000,26469.000000,26469.000000,26469.000000,26469.000000,26469.000000,26469.000000,26469.000000,26469.000000,26469.000000,26469.000000,26469.000000,26469.000000,26469.000000
mean,0.000370,0.034455,0.034493,0.034682,0.288942,2018.618762,6.709585,15.629529,0.265367,0.229363,0.290831,0.002002,-0.122764,-0.501544,-2.309635,-0.005773
std,0.999909,0.182399,0.182496,0.182977,0.453279,0.565824,3.418488,8.799560,0.441537,0.420431,0.454154,0.044704,0.979974,1.956889,5.008975,0.126421
min,-1.714830,0.000000,0.000000,0.000000,0.000000,2018.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,-5.825900,-9.998508,-19.844579,-0.581659
25%,-0.595773,0.000000,0.000000,0.000000,0.000000,2018.000000,4.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.572082,-0.077703
50%,-0.267472,0.000000,0.000000,0.000000,0.000000,2019.000000,7.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.011856,0.003263
75%,0.293513,0.000000,0.000000,0.000000,1.000000,2019.000000,10.000000,23.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.270695,0.075303
max,10.922072,1.000000,1.000000,1.000000,1.000000,2020.000000,12.000000,31.000000,1.000000,1.000000,1.000000,1.000000,5.209053,5.400025,3.649289,0.313908

In [18]:
ml_data.to_csv("../Data/final_merged_data.csv" , index = False)

In [19]:
ml_data.columns

Index(['AVG_BEFORE_DAYS', 'HOLIDAY', 'HOLIDAY AFTER', 'HOLIDAY BEFORE',
       'WEEKEND', 'CHANGE', 'PICKUP_DATE_YEAR', 'PICKUP_DATE_MONTH',
       'PICKUP_DATE_DATE', 'OUTSIPP_economy', 'OUTSIPP_luxury',
       'OUTSIPP_midrange', 'OUTSIPP_premium', 'total_fluc_50', 'total_fluc_70',
       'total_fluc_120', 'pct_change'],
      dtype='object')

In [20]:
classification_columns = [x for x in ml_data.columns.to_list() if x != "CHANGE"]
X = ml_data[classification_columns]
y = ml_data["CHANGE"]

In [21]:
X_train = X[:int(X.shape[0]*0.7)]
X_test = X[int(X.shape[0]*0.7):]
y_train = y[:int(X.shape[0]*0.7)]
y_test = y[int(X.shape[0]*0.7):]

In [22]:
# Checking correct sort order for train test splits
print("Min train date:", min(X_train["PICKUP_DATE_YEAR"]*100 + X_train["PICKUP_DATE_MONTH"]))
print("Max train date:", max(X_train["PICKUP_DATE_YEAR"]*100 + X_train["PICKUP_DATE_MONTH"]))
print()
print("Min test date:", min(X_test["PICKUP_DATE_YEAR"]*100 + X_test["PICKUP_DATE_MONTH"]))
print("Max test date:", max(X_test["PICKUP_DATE_YEAR"]*100 + X_test["PICKUP_DATE_MONTH"]))

Min train date: 201802
Max train date: 201907

Min test date: 201907
Max test date: 202001

In [23]:
# Importing
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, roc_auc_score, balanced_accuracy_score, make_scorer

In [ ]:
#Scale

#Scale only on train and learn

#Scale transform on test and then predict

In [24]:
# Reinitializing the best model from version 1
best_model = RandomForestClassifier(random_state=1, criterion="gini", max_depth=4, max_features="auto", 
                                   n_estimators=100)
best_model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=4, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [28]:
pred_train = best_model.predict(X_train)
print("Accuracy for best Random Forest on train data: ",accuracy_score(y_train,pred_train))

Accuracy for best Random Forest on train data:  0.5517594991364422

In [25]:
pred = best_model.predict(X_test)
print("v1 accuracy was 0.4384800965018094")
print("v2 accuracy was 0.4978621730382294")
print("Accuracy for best Random Forest on CV data: ",accuracy_score(y_test,pred))

v1 accuracy was 0.4384800965018094
v2 accuracy was 0.4978621730382294
Accuracy for best Random Forest on CV data:  0.5159299836292658

In [26]:
print("v1 accuraacy was 0.3545006982085526")
print("v2 accuracy was 0.43731073543230964")
print("Balanced Accuracy for default Random Forest on CV data: ",balanced_accuracy_score(y_test,pred))

v1 accuraacy was 0.3545006982085526
v2 accuracy was 0.43731073543230964
Balanced Accuracy for default Random Forest on CV data:  0.4478086195947882

In [27]:
for x, y in zip(X_train.columns.tolist(), best_model.feature_importances_):
    temp = (x,round(y,2)) 
    print(x,round(y,2))

AVG_BEFORE_DAYS 0.12
HOLIDAY 0.0
HOLIDAY AFTER 0.0
HOLIDAY BEFORE 0.0
WEEKEND 0.0
PICKUP_DATE_YEAR 0.03
PICKUP_DATE_MONTH 0.34
PICKUP_DATE_DATE 0.09
OUTSIPP_economy 0.01
OUTSIPP_luxury 0.01
OUTSIPP_midrange 0.0
OUTSIPP_premium 0.0
total_fluc_50 0.11
total_fluc_70 0.07
total_fluc_120 0.14
pct_change 0.07

# Machine Learning - Support Vector Machines

In [26]:
# import
from sklearn.svm import SVC

In [27]:
clf = SVC(gamma='auto')
clf.fit(X_train,y_train)
clf_predict = clf.predict(X_test)

In [28]:
print("Accuracy for best default SVM on CV data: ",accuracy_score(y_test,clf_predict))

Accuracy for best default SVM on CV data:  0.4262687318977459

In [29]:
print("Balanced Accuracy for default Random Forest on CV data: ",balanced_accuracy_score(y_test,clf_predict))

Balanced Accuracy for default Random Forest on CV data:  0.4118716686083507

In [30]:
# %timeit
# clf2 = SVC(gamma='auto', kernel = "linear")
# clf2.fit(X_train,y_train)
# clf_predict2 = clf2.predict(X_test)
# print("Accuracy for best default SVM on CV data: ",accuracy_score(y_test,clf_predict2))
# print("Balanced Accuracy for default Random Forest on CV data: ",balanced_accuracy_score(y_test,clf_predict2))

In [31]:
# %timeit
# clf3 = SVC(gamma='auto', kernel = "poly")
# clf3.fit(np.asarray(X_train),np.asarray(y_train))
# clf_predict3 = clf3.predict(np.asarray(X_test))
# print("Accuracy for best default SVM on CV data: ",accuracy_score(np.asarray(y_test),clf_predict3))
# print("Balanced Accuracy for default Random Forest on CV data: ",balanced_accuracy_score(np.asarray(y_test),clf_predict3))