In [45]:
import pandas as pd
from datetime import date
from datetime import timedelta
import numpy as np
import matplotlib.pyplot as plt
import holidays
import os
import math

In [46]:
file_name = "E:/S20_Capstone/airfare_lax_2018_2019.csv" 
airfare_data = pd.read_csv(file_name)

In [47]:
airfare_data.shape

(8173767, 13)

In [48]:
airfare_data.head()

,COLLECT_DATE,QL2_QTS,FROM_AIRPORT,TO_AIRPORT,SITE,CXR,DDATE,DSTP,CURRENCY,DFLIGHT,DTIME,DROUTE,FARE
0,2018-01-01 00:02:00,5844,MCO,LAX,UA,UA,2018-01-05,0,USD,2412,06:53,06:53 - MCO :: 09:30 - LAX,555.0
1,2018-01-01 00:02:00,5844,MCO,LAX,UA,UA,2018-01-05,0,USD,2412,06:53,06:53 - MCO :: 09:30 - LAX,274.0
2,2018-01-01 00:02:00,5844,MCO,LAX,UA,UA,2018-01-05,0,USD,2126,19:48,19:48 - MCO :: 22:30 - LAX,464.0
3,2018-01-01 00:02:00,5844,MCO,LAX,UA,UA,2018-01-05,0,USD,2126,19:48,19:48 - MCO :: 22:30 - LAX,555.0
4,2018-01-01 00:04:00,5844,IAD,LAX,UA,UA,2018-01-05,0,USD,1038,06:20,06:20 - IAD :: 09:20 - LAX,865.0

In [49]:
airfare_data["DDATE"] = airfare_data["DDATE"] .astype('datetime64[ns]')
airfare_data["COLLECT_DATE"] = airfare_data["COLLECT_DATE"] .astype('datetime64[ns]')

In [50]:
airfare_data["TIME_BEFORE_FLIGHT"] = ((airfare_data["DDATE"] - airfare_data["COLLECT_DATE"])/ np.timedelta64(1, 'D')).astype(int)
airfare_data.head()

,COLLECT_DATE,QL2_QTS,FROM_AIRPORT,TO_AIRPORT,SITE,CXR,DDATE,DSTP,CURRENCY,DFLIGHT,DTIME,DROUTE,FARE,TIME_BEFORE_FLIGHT
0,2018-01-01 00:02:00,5844,MCO,LAX,UA,UA,2018-01-05,0,USD,2412,06:53,06:53 - MCO :: 09:30 - LAX,555.0,3
1,2018-01-01 00:02:00,5844,MCO,LAX,UA,UA,2018-01-05,0,USD,2412,06:53,06:53 - MCO :: 09:30 - LAX,274.0,3
2,2018-01-01 00:02:00,5844,MCO,LAX,UA,UA,2018-01-05,0,USD,2126,19:48,19:48 - MCO :: 22:30 - LAX,464.0,3
3,2018-01-01 00:02:00,5844,MCO,LAX,UA,UA,2018-01-05,0,USD,2126,19:48,19:48 - MCO :: 22:30 - LAX,555.0,3
4,2018-01-01 00:04:00,5844,IAD,LAX,UA,UA,2018-01-05,0,USD,1038,06:20,06:20 - IAD :: 09:20 - LAX,865.0,3

In [51]:
airport_distance_data = pd.read_csv(os.getcwd()+"\\"+"distance_between_airports.csv", delimiter=",")

In [52]:
airfare_data = pd.merge(airfare_data, airport_distance_data, how = "left", left_on = ["FROM_AIRPORT", "TO_AIRPORT"]
                      , right_on = ["AIRPORT_FROM", "AIRPORT_TO"])

# Renaming Miles column
airfare_data.rename(columns = {" MILES " : "MILES"} , inplace = True)

# Removing comma and extra space from each entry in miles
airfare_data["MILES"] = airfare_data["MILES"].apply(lambda x : x.replace(",", "").strip())

# Converting to numeric
airfare_data["MILES"] = pd.to_numeric(airfare_data["MILES"])

# Adding price/mile column
airfare_data["price_per_mile"] = airfare_data["FARE"] / airfare_data["MILES"]

MemoryError:

In [ ]:
airfare_data.head(3)

In [ ]:
# Dropping irrelevant columns

#COLLECT_DATE - we have QL2_QTS
#FROM_AIRPORT - incorporated as price per mile
#TO_AIRPORT - always LAX
#SITE - same as that of the carrier
#DSTP - number of stops in the route. For us its always 0
#CURRENCY - always USD
#DFLIGHT - flight number
#DROUTE - route

airfare_data.drop(columns = ["COLLECT_DATE","FROM_AIRPORT", "AIRPORT_FROM", "AIRPORT_TO","TO_AIRPORT","SITE","DSTP","CURRENCY","DFLIGHT","DROUTE",], axis=1, inplace = True)
airfare_data.head(3)

In [ ]:
#Dropping the column for carrier. Agg to get a 'market view' agnoustic of the carriers.
#Dropping DTIME. Agg over prices for entire day, irrespective of what time of the day the flight was booked for 
#(We run into risk of getting very few rows if we dont agg over DTIME)

new_airfare_data = airfare_data.drop(columns = ['CXR','DTIME','MILES'])

In [ ]:
new_airfare_data = new_airfare_data[new_airfare_data["TIME_BEFORE_FLIGHT"] >=30]

*******
Extracting to excel only for analysis. No need to run each time

In [ ]:
"""df_excel_analysis = new_airfare_data
print("airfare_data" , new_airfare_data.shape)
print("df_excel_analysis",df_excel_analysis.shape)

In [ ]:
"""df_excel_analysis["DDATE"].value_counts()[:5]

In [ ]:
"""df_excel_analysis_one_date = df_excel_analysis[df_excel_analysis["DDATE"]=='2019-06-13']
df_excel_analysis_one_date.shape"""

In [ ]:
'''excel_name = 'air_fare_one_date.xlsx'
mypath = os.getcwd()+"\\"+excel_name'''

In [ ]:
'''writer = pd.ExcelWriter(path = mypath, engine = 'xlsxwriter')
df_excel_analysis_one_date.to_excel(writer, sheet_name = 'Original')
writer.save()
writer.close()'''

#### DONOT RUN BELOW LINE
if you want results on entire data set. This is just to compare excel and python results.

In [ ]:
'''new_airfare_data = df_excel_analysis_one_date

*****



Aggregrate on QL2_QTS , not on collect date. This removes time stamp and maintains only dates
Below is a comparison of both

In [ ]:
all_cols = new_airfare_data.columns[(new_airfare_data.columns != 'FARE') & (new_airfare_data.columns != 'price_per_mile')]
all_cols = all_cols.to_list()
all_cols

In [ ]:
#Group by QL2_QTS
grouped_data = new_airfare_data.groupby(all_cols).mean().reset_index()
"size reduced from " + str(new_airfare_data.shape) +" to "+ str(grouped_data.shape) + ".Aggregated " + str( (new_airfare_data.shape[0] - grouped_data.shape[0])*100/new_airfare_data.shape[0] )+ "% rows."

In [ ]:
grouped_data

In [ ]:
len(grouped_data["DDATE"].unique())

920 unique DDATEs == We have 3 years worth of data !

writer = pd.ExcelWriter(path = mypath, engine = 'xlsxwriter')
df_excel_analysis_one_date.to_excel(writer, sheet_name = 'Original')
grouped_data.to_excel(writer, sheet_name = 'grouped_on_timebeforeflight')
writer.save()
writer.close()

****
To check short-term and long-term increasing / decreasing trend of the flight prices, add new columns to groupdata into 2 groups

In [ ]:
new_group_data=grouped_data
new_group_data

In [ ]:
# Decide definition of short , medium and long intervals

breaks = [50,70,120]

In [ ]:
for b in breaks:
    new_group_data["TBF"+str(b)] = np.where(grouped_data["TIME_BEFORE_FLIGHT"] <= int(b), 1, 0)
new_group_data.tail()

In [ ]:
d_sort = new_group_data.sort_values(by = ['DDATE' , 'QL2_QTS'])
len(d_sort)

In [ ]:
df_final = pd.DataFrame([])

d_sub_group = pd.DataFrame([], columns=list(d_sort))

d_dates = new_group_data['DDATE'].unique()
for d in d_dates:
    d_sub = d_sort[d_sort['DDATE']==d]
    d_sub = d_sub.reset_index(drop = True)
    
    #Add 1 DDATE, price_per_mile column
    df_all = d_sub.loc[:,["DDATE","price_per_mile"]].groupby("DDATE")["price_per_mile"].mean().reset_index() 
    
    #Loop to add 3 fluctuation columns to each ddate
    for b in breaks:
        #print("for b" , b)
        d_sub_group = d_sub[d_sub["TBF"+str(b)]==1]
        d_sub_group = d_sub_group.reset_index(drop = True)
        #print("len of sub_group" , len(d_sub_group))
        
        if(len(d_sub_group)>=4):
            
            avg_over = math.ceil(len(d_sub_group)/3)
            #print("avg_over",avg_over)

            # Rolling window 
            d_sub_group["avg_price"] = [d_sub_group["price_per_mile"][max(0, j-avg_over):j+1].mean() for j in range(0, len(d_sub_group["price_per_mile"]))]

            
            # % change
            change = [(d_sub_group["avg_price"][i] - d_sub_group["price_per_mile"][i])/d_sub_group["avg_price"][i] for i in range(0, len(d_sub_group["avg_price"]))] 

            # Aggregating %change for that group
            df_all["total_fluc_"+str(b)] = sum(change)
        else:
            df_all["total_fluc_"+str(b)] = 0
    df_final = df_final.append(df_all)

In [ ]:
df_final.shape

In [ ]:
#test
df_final[df_final["DDATE"]=='2018-06-13']

**************

## just ignore code below :P 

Didnot want to type all these again hence parked it here to copy paste :P

In [ ]:
#grouped_data["TBF30-60"] = np.where(grouped_data["TIME_BEFORE_FLIGHT"] <=60, grouped_data["TIME_BEFORE_FLIGHT"] ,0 )
#grouped_data["TBF61-90"] = np.where((grouped_data["TIME_BEFORE_FLIGHT"] >60) & (grouped_data["TIME_BEFORE_FLIGHT"] <=90), grouped_data["TIME_BEFORE_FLIGHT"] ,0 )
#grouped_data["TBF91+"] = np.where(grouped_data["TIME_BEFORE_FLIGHT"] >90 , grouped_data["TIME_BEFORE_FLIGHT"] ,0 )

#new_group_data["TBF60"] = np.where(grouped_data["TIME_BEFORE_FLIGHT"] <=60, 1 ,0 ) #short fluc
#new_group_data["TBF90"] = np.where(grouped_data["TIME_BEFORE_FLIGHT"] <=90, 1 ,0 ) #medium fluc
#new_group_data["TBF91+"] = np.where(grouped_data["TIME_BEFORE_FLIGHT"]<=120, 1 ,0 ) #long fluc

#new_group_data.tail()