# Regression task for the data sent earlier by ql2

In [1]:
# all imports
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
from math import sqrt
# machine learning
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn import linear_model

In [2]:
airfare_data = pd.read_csv("airfare_lax_2019_initial.csv", delimiter=",")

In [3]:
airfare_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58937 entries, 0 to 58936
Data columns (total 12 columns):
D_AIRPORT    58937 non-null object
A_AIRPORT    58937 non-null object
SITE         58937 non-null object
CXR          58937 non-null object
DDATE        58937 non-null object
DSTP         58937 non-null int64
CURRENCY     58937 non-null object
QL2_QTS      58937 non-null int64
DFLIGHT      58937 non-null int64
DTIME        58937 non-null object
DROUTE       58937 non-null object
FARE         58937 non-null float64
dtypes: float64(1), int64(3), object(8)
memory usage: 5.4+ MB

In [4]:
for column in airfare_data.columns.tolist():
    if column in ["D_AIRPORT","A_AIRPORT" ,"SITE", "CXR","CURRENCY"]:
        airfare_data[column] = airfare_data[column].astype(str) 
    elif column == "DDATE":
        airfare_data[column] = pd.to_datetime(airfare_data[column])
        airfare_data["DDATE_year"] = pd.DatetimeIndex(airfare_data['DDATE']).year
        airfare_data["DDATE_month"] = pd.DatetimeIndex(airfare_data['DDATE']).month
        airfare_data["DDATE_day"] = pd.DatetimeIndex(airfare_data['DDATE']).day
    elif column == "DTIME":
        airfare_data[column] = pd.to_datetime(airfare_data['DTIME'], format='%H:%M')
        airfare_data["DTIME_hour"] = pd.DatetimeIndex(airfare_data['DTIME']).hour
        airfare_data["DTIME_minute"] = pd.DatetimeIndex(airfare_data['DTIME']).minute

In [5]:
airfare_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58937 entries, 0 to 58936
Data columns (total 17 columns):
D_AIRPORT       58937 non-null object
A_AIRPORT       58937 non-null object
SITE            58937 non-null object
CXR             58937 non-null object
DDATE           58937 non-null datetime64[ns]
DSTP            58937 non-null int64
CURRENCY        58937 non-null object
QL2_QTS         58937 non-null int64
DFLIGHT         58937 non-null int64
DTIME           58937 non-null datetime64[ns]
DROUTE          58937 non-null object
FARE            58937 non-null float64
DDATE_year      58937 non-null int64
DDATE_month     58937 non-null int64
DDATE_day       58937 non-null int64
DTIME_hour      58937 non-null int64
DTIME_minute    58937 non-null int64
dtypes: datetime64[ns](2), float64(1), int64(8), object(6)
memory usage: 7.6+ MB

In [6]:
airfare_data.head()

,D_AIRPORT,A_AIRPORT,SITE,CXR,DDATE,DSTP,CURRENCY,QL2_QTS,DFLIGHT,DTIME,DROUTE,FARE,DDATE_year,DDATE_month,DDATE_day,DTIME_hour,DTIME_minute
0,DEN,LAX,UA,UA,2019-08-11,0,USD,6419,1093,1900-01-01 08:00:00,08:00 - DEN :: 09:27 - LAX,172.00,2019,8,11,8,0
1,SLC,LAX,UA,UA,2019-08-11,0,USD,6419,5809,1900-01-01 17:55:00,17:55 - SLC :: 18:55 - LAX,201.00,2019,8,11,17,55
2,ORD,LAX,UA,UA,2019-08-11,0,USD,6419,310,1900-01-01 11:45:00,11:45 - ORD :: 14:01 - LAX,345.00,2019,8,11,11,45
3,PDX,LAX,DL,DL,2019-08-23,0,USD,6442,748,1900-01-01 17:50:00,17:50 - PDX :: 20:10 - LAX,258.30,2019,8,23,17,50
4,MEX,LAX,DL,DL,2019-08-23,0,USD,6442,8041,1900-01-01 13:55:00,13:55 - MEX :: 15:55 - LAX,635.73,2019,8,23,13,55

## How we interpret features?
D_AIRPORT -> convert to numerical (1 hot encoding for now)

A_AIRPORT -> Drop

SITE -> same as CXR drop

CXR -> convert to numerical (1 hot encoding for now)

DDATE -> Possible conversion to datetime object (like in ARIMA), till then use numerical converted DDATE_year, month, day for now

DSTP -> Stops in between - Drop

Currency -> USD - Drop

QL2_QTS -> Collect date - Drop for now

DFLIGHT -> Flight number - Drop

DTIME -> Drop use converted DTIME_hour, minute for now

DROUTE -> Drop

Fare -> Input variable for car rental?

DDATE_year, DDATE_month, DDATE_day, DTIME_hour, DTIME_minute to be used in regression as it is

In [7]:
# airfare_data.isnull().sum()
airfare_data["FARE"].describe()

count    58937.000000
mean       243.160745
std        182.413622
min         23.300000
25%        133.300000
50%        208.300000
75%        301.000000
max       3154.000000
Name: FARE, dtype: float64

### Machine learning

Simple Lasso linear regression for airfare data.
Pre prcessing step include one hot encoding of 'D_AIRPORT', 'CXR' and dropping one column in each to avoid bias

In [8]:
# Preprocessing
airfare_data_regression = airfare_data.copy()
drop_columns = ["A_AIRPORT", "SITE", "DDATE", "DSTP", "CURRENCY", "QL2_QTS", "DFLIGHT", "DTIME", "DROUTE", "FARE"]
airfare_data_regression.drop(columns = drop_columns , axis=1, inplace = True)
airfare_data_regression = pd.get_dummies(airfare_data_regression,columns=['D_AIRPORT', 'CXR'], prefix = ["dep_airport","carrier_"], drop_first=True)
airfare_data_regression.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58937 entries, 0 to 58936
Data columns (total 40 columns):
DDATE_year         58937 non-null int64
DDATE_month        58937 non-null int64
DDATE_day          58937 non-null int64
DTIME_hour         58937 non-null int64
DTIME_minute       58937 non-null int64
dep_airport_BOS    58937 non-null uint8
dep_airport_CUN    58937 non-null uint8
dep_airport_DCA    58937 non-null uint8
dep_airport_DEN    58937 non-null uint8
dep_airport_DFW    58937 non-null uint8
dep_airport_DTW    58937 non-null uint8
dep_airport_EUG    58937 non-null uint8
dep_airport_EWR    58937 non-null uint8
dep_airport_FLL    58937 non-null uint8
dep_airport_HNL    58937 non-null uint8
dep_airport_IAD    58937 non-null uint8
dep_airport_IAH    58937 non-null uint8
dep_airport_JFK    58937 non-null uint8
dep_airport_KOA    58937 non-null uint8
dep_airport_LAS    58937 non-null uint8
dep_airport_LIH    58937 non-null uint8
dep_airport_MCI    58937 non-null uint8
dep_airport_MCO    58937 non-null uint8
dep_airport_MEX    58937 non-null uint8
dep_airport_MSP    58937 non-null uint8
dep_airport_MSY    58937 non-null uint8
dep_airport_OAK    58937 non-null uint8
dep_airport_OGG    58937 non-null uint8
dep_airport_ORD    58937 non-null uint8
dep_airport_PDX    58937 non-null uint8
dep_airport_PHL    58937 non-null uint8
dep_airport_RNO    58937 non-null uint8
dep_airport_SAN    58937 non-null uint8
dep_airport_SEA    58937 non-null uint8
dep_airport_SFO    58937 non-null uint8
dep_airport_SLC    58937 non-null uint8
carrier__DL        58937 non-null uint8
carrier__HA        58937 non-null uint8
carrier__NK        58937 non-null uint8
carrier__UA        58937 non-null uint8
dtypes: int64(5), uint8(35)
memory usage: 4.2 MB

In [9]:
# Data view
airfare_data_regression.head()

,DDATE_year,DDATE_month,DDATE_day,DTIME_hour,DTIME_minute,dep_airport_BOS,dep_airport_CUN,dep_airport_DCA,dep_airport_DEN,dep_airport_DFW,...,dep_airport_PHL,dep_airport_RNO,dep_airport_SAN,dep_airport_SEA,dep_airport_SFO,dep_airport_SLC,carrier__DL,carrier__HA,carrier__NK,carrier__UA
0,2019,8,11,8,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,2019,8,11,17,55,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
2,2019,8,11,11,45,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,2019,8,23,17,50,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,2019,8,23,13,55,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [10]:
X = airfare_data_regression
y = airfare_data["FARE"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [11]:
reg = LinearRegression()
reg.fit(X_train, y_train)
print("Train RMSE error", sqrt(mean_squared_error(y_train, reg.predict(X_train))))
print("Test RMSE error", sqrt(mean_squared_error(y_test, reg.predict(X_test))))
print("Coefficients")
for x, y in zip(X_train.columns.tolist(), reg.coef_):
    print(x,round(y,2))

Train RMSE error 158.70573642270438
Test RMSE error 164.07086806116527
Coefficients
DDATE_year 0.0
DDATE_month 1.61
DDATE_day 0.5
DTIME_hour 0.07
DTIME_minute 0.13
dep_airport_BOS 37.56
dep_airport_CUN 164.43
dep_airport_DCA 56.64
dep_airport_DEN 3.42
dep_airport_DFW -24.08
dep_airport_DTW 55.49
dep_airport_EUG 63.33
dep_airport_EWR 101.6
dep_airport_FLL 48.26
dep_airport_HNL 84.34
dep_airport_IAD 205.68
dep_airport_IAH 34.35
dep_airport_JFK 45.77
dep_airport_KOA 101.86
dep_airport_LAS -82.21
dep_airport_LIH 81.36
dep_airport_MCI 13.28
dep_airport_MCO 16.04
dep_airport_MEX 220.54
dep_airport_MSP 158.7
dep_airport_MSY 62.82
dep_airport_OAK -57.71
dep_airport_OGG 76.77
dep_airport_ORD 18.74
dep_airport_PDX -28.9
dep_airport_PHL 55.76
dep_airport_RNO -32.3
dep_airport_SAN -17.97
dep_airport_SEA -12.01
dep_airport_SFO -76.28
dep_airport_SLC -8.9
carrier__DL -36.85
carrier__HA 6.29
carrier__NK -125.4
carrier__UA -48.77

In [12]:
clf = linear_model.Lasso()
clf.fit(X_train, y_train)
print("Train RMSE error", sqrt(mean_squared_error(y_train, clf.predict(X_train))))
print("Test RMSE error", sqrt(mean_squared_error(y_test, clf.predict(X_test))))
print("Coefficients")
for x, y in zip(X_train.columns.tolist(), clf.coef_):
    print(x,round(y,2))

Train RMSE error 161.39891191662113
Test RMSE error 166.6889433955162
Coefficients
DDATE_year 0.0
DDATE_month 2.35
DDATE_day 0.47
DTIME_hour 0.69
DTIME_minute 0.11
dep_airport_BOS 0.0
dep_airport_CUN 0.0
dep_airport_DCA 0.0
dep_airport_DEN -10.04
dep_airport_DFW -14.15
dep_airport_DTW 0.0
dep_airport_EUG 0.0
dep_airport_EWR 55.65
dep_airport_FLL 0.0
dep_airport_HNL 30.18
dep_airport_IAD 149.29
dep_airport_IAH 0.0
dep_airport_JFK 22.84
dep_airport_KOA 0.0
dep_airport_LAS -99.63
dep_airport_LIH 0.0
dep_airport_MCI -0.0
dep_airport_MCO -0.0
dep_airport_MEX 139.77
dep_airport_MSP 93.46
dep_airport_MSY 0.0
dep_airport_OAK -7.47
dep_airport_OGG 2.69
dep_airport_ORD -0.0
dep_airport_PDX -0.0
dep_airport_PHL 0.0
dep_airport_RNO -0.0
dep_airport_SAN -27.66
dep_airport_SEA -17.34
dep_airport_SFO -97.51
dep_airport_SLC -14.87
carrier__DL -5.39
carrier__HA 0.0
carrier__NK -96.54
carrier__UA -17.8